/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilos del formulario */
#form {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

input{
    width: 60%;
    padding: 10px;
    border: 1px solid #e7e5e5;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    width: 100px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

}

p {
    font-size: 15px;
    margin-bottom: 10px;

}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#userlist p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
}

li {
    max-width: 22em;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    background-color: #c1cec2;
}

.text-truncate {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-delete{
    background-color: #ff0000;
    width: 100px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-edit{
    background-color: #8c8c8c;
    width: 100px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.warnings{
    color: red;
}


