body {
    font-family: Arial, sans-serif;
    background: #557996 ;
    margin: 0;
    padding: 0;
}

/* Estilos del formulario */
#form {
    text-align: center;
    background-color: white;
    padding: 68px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
    margin: auto;
    margin-top: 100px;
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    width: 0%;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #e7e5e5;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.btn-primary {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    margin: 16px 0;
    cursor: pointer;
    font-size: 20px;

}

input [type = checkbox]{
    display: flex;
    width: 25px;
    background: red;
}

p {
    font-size: 15px;
    margin-bottom: 10px;

}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#userlist p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
}

li {
    max-width: 22em;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.text-truncate {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-delete{
    background-color: #ff0000;
    width: 100px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-edit{
    background-color: #8c8c8c;
    width: 100px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.warnings{
    color: red;
}

